@model SteakListViewModel

@{
    ViewData["Title"] = "List";
    ViewData["PageHeader"] = "List of steaks";
    ViewData["PageDescription"] = "Full list of our products that will expand your creativity (and open your palate).";
}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

    @foreach (var steak in Model.Steaks)
    {
        <partial name="_SteaksSummary" for="@steak" />
    }
</div>